QWidget#widget_title{
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #008B8B, stop:1 #20B2AA);
}

QWidget#widget_bottom{
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #FAFAFA, stop:1 #FAFAFA);
}

QHBoxLayout#Layout_title{
	background:#none;
}

QSplitter#splitter_bottom{
	background:#FAFAFA;
}

QLabel#label_tilte{
	color:#FFFFFF;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #008B8B, stop:1 #20B2AA);
}

QPushButton#oneButton,QPushButton#twoButton{
border-radius:0px; /*边框圆角程度*/
color:#808080;
padding:3px;  /*内边距*/
margin:0px;   /*外边距*/
background:#none;
border-style:outset;  /*边框样式*/

}

QPushButton#oneButton:hover,QPushButton#twoButton:hover{
color:#228B22;
}

QPushButton#leftButton,QPushButton#rightButton{
border-radius:0px; /*边框圆角程度*/
color:#FFFFFF;
padding:3px;  /*内边距*/
margin:0px;   /*外边距*/
background:#none;
border-style:outset;  /*边框样式*/

}

QPushButton#leftButton:hover,QPushButton#rightButton:hover{
color:#D3D3D3;
}

/*QPushButton#oneButton:hover,QPushButton#twoButton:hover{
color:#FFFFFF;
margin:1px 1px 2px 1px;
background-color:rgba(34,139,34,230);
}*/




/*TextColor:#DCDCDC*/
/*PanelColor:#444444*/
/*BorderColor:#242424*/
/*NormalColorStart:#484848*/
/*NormalColorEnd:#383838*/
/*DarkColorStart:#646464*/
/*DarkColorEnd:#525252*/
/*HighColor:#00BB9E*/
